.pagination{
    justify-content: center;
    margin: 10px 0;

    button{
        width: 70px;
        
        margin: 0 10px;
        padding: 10px;

        border: none;
        border-radius: 2rem;

        &:hover{
            background-color: darkgray;
        }
    }
}